<%= form_for(@work, :html => {:multipart => true})  do |f| %>

  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.cktext_area :description %>
  </div>
  <div class="field">
    <%= f.label :price_id %><br>
    <%= f.number_field :price_id %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  
  <div class="field">
  <div class="control-group">
    <%= f.label :pictures, class: 'control-label' %>
    <div class="controls">
      <%= file_field_tag "images[]", type: :file, multiple: true %>
    </div>
  </div>
  </div>
  
  <% if current_user.id == @work.user_id %>
    <div class="actions">
      <%= f.submit  %>
    </div>
  <% end %>
<% end %>
