<p id="notice"><%= notice %></p>

<h1>Le tue richieste</h1>

<table class="table table-responsive table-hover">
  <thead>
    <tr>
      <th>Immagine</th>
      <th>Titolo</th>
      <th>Descrizione</th>
      <th>Al momento</th>
      <th>Zona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
         <% if  work.pictures.any? %>
          <td><img src="<%= work.pictures.first.image.url %>" style="width: 150px;" alt="..."></td>
        <% else %>
          <td>Nessuna foto</td>
        <% end %>
        <td><%= work.title %></td>
        <td><%= work.description.html_safe %></td>
        <td><%= getCurrentPriceForWork(work) %></td>
        <td><%= work.location %></td>
        <td><%= link_to 'Anteprima', work %></td>
        <td><%= link_to 'Modifica', edit_work_path(work) %></td>
        <td><%= link_to 'Elimina', work, method: :delete, data: { confirm: 'Sicuro? Non potrai più ripristinarlo dopo la cancellazione.' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuova Richiesta', new_work_path %>
