

<% if @recomends.count > 0 %>
<div class="panel panel-default" id="leftbox" style="margin-top:30px; ">
  <div class="panel-heading">Consigliati per te</div>
  <div class="panel-body">

<% @recomend_cnt = 0 %>

<div class="table-responsive">
<table class="table table-hover">
  <tbody>
    <% @recomends.each do |_work| %>
     <% if _work.jaccard_index >= 0.00 %>
     <% @recomend_cnt = @recomend_cnt + 1 %>
      <tr>
        <td><small><%= link_to _work.title, _work %></small> </td>
        <td><small><%='%.2f' % _work.jaccard_index %></small></td>
      </tr>
     <% end %>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

<%end%>

<% if @isAvailable %>
   <% @price = getCurrentPriceForWork(@work) %>
    <form method="post" action=<%=new_bid_path(@work)%> id="rcorners6" style="margin-top:30px; ">
      <% if @price.to_f == 0.0 %>
        <b>Fai un'offera per primo!</b><br>
      <% else %>
        <b>Fai un'offerta</b><br>(la più bassa <%= @price %>€)<br>
      <% end %>
      <input type="text" name="new_price" class="form-control"><button type="submit" class="btn btn-default glyphicon glyphicon-flash">Invia</button>
    </form>
<% end %>

<% for i in 0..(@recomend_cnt/2) do%>
  <div class="spacer">
      &nbsp;
  </div>
<% end %>



<div class= "container" style="margin-top:20px;">
<div class="im-centered"> 
  
 <div class="row">
   <div class="col-md-6">
     
      <div id="carousel_<%=@work.id%>" class="carousel slide imageThumbWorkShow" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner imageThumbWorkShow" role="listbox">
        <% @count = 0 %>  
        
        <% @work.pictures.each do |picture| %>  
          <% if @count == 0 %>
            <div class="item active imageThumbWorkShow">
          <% else %>
            <div class="item imageThumbWorkShow"> 
          <% end %>
                <img src="<%= picture.image.url(:large) %>" alt="..." class="imageThumbWorkShow">
            </div>
          <% @count += 1 %>
        <% end %>
        
        <% if @count == 0 %>  <!-- if no image was uploaded -->
         <div class="item active">
            <img src="../assets/idraulico.jpg" class="imageThumbWorkShow">
          </div>
        <% end %>
          
        </div>

        <!-- Controls -->
        <a class="left carousel-control imageThumbWorkShow" href="#carousel_<%=@work.id%>" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        
        <a class="right carousel-control imageThumbWorkShow" href="#carousel_<%=@work.id%>" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  
      </div>  <!-- carousel -->
    </div> <!-- md-6 -->


  <div class="clearfix visible-xs-block"></div>
</div> <!-- ROW -->

</div> <!-- im-centered -->

<hr>

 <p>
      <h2><strong><%= @work.title %></strong></h2>
      </p>
      <p>
        <strong>di:</strong> <%= @work.user.email %>
      </p>
      <p>
        <strong>Posizione:</strong>
        <%= @work.location %>
      </p>
      <p>
        <strong>Descrizione annuncio:</strong>
        <%= @work.description.html_safe %>
      </p>
      <p>
        <strong>Prezzo al momento:</strong>
        <%= @price %>
      </p>
  

      
      <hr>
<div class= "form-signin text-center">
<% if @isAvailable %>
  <%= link_to ' Segui', work_follow_path(@work), :class => "btn btn-success glyphicon glyphicon-star" %> |
<% end %>
<% if current_user.id == @work.user_id %>
  <%= link_to ' Modifica', edit_work_path(@work), :class => "btn btn-warning glyphicon glyphicon-pencil" %> |
<% end %>
<%= link_to 'Indietro', works_path, :class => "btn btn-info" %>
</div>
<hr>

<div class="panel panel-default">
  <div class="panel-heading">Ultime offerte</div>
  <div class="panel-body">
    <div class="table-responsive">    
<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Utente</th>
      <th>Offerta</th>
      <th>Azioni</th>
    </tr>
  </thead>

  <tbody>

    <% @bids.each do |bid| %>
      <tr>
        <td><%=hideEmailAddress(bid.user.email) %></td>
        <% if bid.price == 0.0 %>
          <td>Sta seguendo</td>        
          <td></td>          
        <% else %>
          <% if current_user != nil %>
            <td><%= bid.price %></td>
            <% if current_user.id == @work.user.id  %>
              <% if !@isAvailable %>
                <td>Hai già assegnato questo lavoro</td>
              <% else %>
                <td><%= link_to 'Accetta questa offerta', work_accepted_path(bid), :class => "btn btn-success btn-xs" %></td>    
              <% end %>
            <% else %>
              <td> </td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


</div>
</div>

</div>

<% for i in 0..@recomend_cnt do%>
  <div class="spacer">
      &nbsp;
  </div>
<% end %>

<script>
// Hide Header on on scroll down
var didScroll;
var lastScrollTop = 0;
var delta = 5;
var navbarHeight = $('header').outerHeight();

$(window).scroll(function(event){
    didScroll = true;
});

setInterval(function() {
    if ($(window).width() > 800) {
          $box = document.getElementById("leftbox");
          $price_box = document.getElementById("rcorners6")
          $box.style.display = "initial";
          $price_box.style.display = "initial";
    }
    if (didScroll) {
        hasScrolled();
        didScroll = false;
    }
}, 250);

function hasScrolled() {
  
  if ($(window).width() < 800) {
  
    var st = $(this).scrollTop();
    
    // Make sure they scroll more than delta
    if(Math.abs(lastScrollTop - st) <= delta)
        return;
    
    $box = document.getElementById("leftbox");
    $price_box = document.getElementById("rcorners6")
    // If they scrolled down and are past the navbar, add class .nav-up.
    // This is necessary so you never see what is "behind" the navbar.
    if (st > lastScrollTop && st > navbarHeight){
        // Scroll Down
        $box.style.display = "none";
        $price_box.style.display = "initial";
    } else {
        // Scroll Up
        if(st + $(window).height() < $(document).height()) {
            $box.style.display = "initial";
            $price_box.style.display = "none";
        }
    }
    
    lastScrollTop = st;
  }
}
 
 </script>