

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
   Hai aggiudicato <b><%= @payments.count if @payments %></b> lavori.
  </div>
  <div class="panel-body">
        <% if @payments %>
        <table class="table table-responsive table-hover table-striped">
          <thead>
            <tr>
              <th>Numero</th>
              <th>Lavoro aggiudicato</th>
              <th>Codice di pagamento</th>
              <th>Totale concordato</th>
              <th>Concordato con</th>
              <th>Lavoro accettato il</th>
              <th colspan="2"></th>
            </tr>
          </thead>
        
          <tbody>
            <% @payments.each do |payment| %>
              <% @bid = Price.find(payment.work_id) %>
              <tr>
                <td><%= @bid.work.id %></td>
                <td><%= link_to @bid.work.title, work_path(@bid.work) %></td>
                <td><%= payment.transaction_id %></td>
                <td><%= @bid.price.to_f.round(2) %></td>
                <td><%= mail_to @bid.user.email %></td>
                <td><%= payment.created_at %></td>
                <td></td>
                <td></td>
            </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
    </div>
</div>